:root {
    --color-primary: #363636;
    --color-secondary: #bbbbbb;
    --color-tertiary: #eaeaea;
    --color-light: #fafafa;
    --color-white: #ffffff;
    --side-menu-width: 240px;
    --padding-small: 8px;
    --padding: 16px;
    --padding-big: 32px;
}